:root {
  /* Dark Mode Elements */
  --primary-dark-blue-color: hsl(209, 23%, 22%);

  /* Dark Mode Background */
  --secondary-dark-blue-color: hsl(207, 26%, 17%);

  /* Light Mode Text */
  --tertiary-dark-blue-color: hsl(200, 15%, 8%);

  /* Light Mode Input */
  --dark-gray-color: hsl(0, 0%, 52%);

  /* Light Mode Background */
  --very-light-gray-color: hsl(0, 0%, 98%);

  /* Dark Mode Text & Light Mode Elements */
  --white-color: hsl(0, 0%, 100%);

  --secondary-white-color: hsl(0, 0%, 93%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  min-height: 100%;
  font-size: 100%;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--very-light-gray-color);
}

#root {
  min-height: 100%;
}
